.code-editor-conntainer {
    display: block !important;
    width: 100% !important;
    clear: both;
}

.fantasy-hammer .form-group {
    display: block;
}

.fantasy-hammer .form-group label {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
}



/* Royal blue booleans */